@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

* {
  box-sizing: border-box;
}
body {
  font-family: "Jersey 10", sans-serif;
  background: #0bff55;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     max-height: 100vh;
     margin: 0;
}
h1 {
    color: #a12573;
  }
  .screen {
    cursor: grab;
    width: 60%;
    background-color: #2ecab3 !important;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .controls {
    background: #25efe5;
    color: #e72121;
    width: 60%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }
  .controls .btn {
    border: 0;
    background: radial-gradient(rgb(194, 125, 255), rgb(232, 248, 255));
    cursor: grab;
  }
   /* Select the class controls and fa-play */
   .controls .fa-play {
    color: #ff1499;
  }

  /* Select the controls and fa-stop */
  .controls .fa-stop {
    color: #eb389a;
  }
  /* Select the controls and fa-pause (which we will create in JS */
.controls .fa-pause {
    color: #acffb4;
  }
  .controls .timestamp {
    color: #eb12c6;
    font-weight: bold;
    margin-left: 10px;
  }
  /* Remove the outline when clicking the button */
.btn:focus {
    outline: 0;
  }
